.detail-title {
    padding: 32px 0 8px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;

    h2 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .back-btn {
        font-size: 24px;
        color: #157efb;
        position: absolute;
        cursor: pointer;
        transition: color .2s ease-in-out;

        &:active {
            color: #106ad7;
        }

        i {
            display: block;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
        }
    }
}
