@import "../color";

.window-buttons {
    margin: 12px;
    align-self: flex-start;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;

    button {
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 -12px -12px 8px;
        padding: 0;
        outline: none;
        background: #d0d0d0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        transform: scale(0.5);
        transform-origin: 0 0;
        -webkit-app-region: no-drag;

        &:first-child {
            margin-left: 0;
        }

        .sign {
            display: none;
            width: 24px;
            height: 24px;
            text-align: center;
            font-size: 24px;
            margin: -1px 0 0 -1px;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    &:hover .sign {
        display: block;
    }

    #window-close {
        background: $bulb-red;

        &:active {
            background: $bulb-red-dark;
        }
    }

    #window-minimize {
        background: $bulb-yellow;

        &:active {
            background: $bulb-yellow-dark;
        }
    }
}
