.window-buttons {
    align-self: flex-start;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 32px;
        padding: 0;
        outline: none;
        border: none;
        background: transparent;
        transition: 0.1s background-color ease;
        -webkit-app-region: no-drag;

        svg {
            width: 10px;
            height: 10px;
            stroke: #000000;
            transition: 0.1s stroke ease;

            .window-blur & {
                stroke: rgba(0, 0, 0, 0.4);
            }
        }

        &:disabled svg {
            stroke: rgba(0, 0, 0, 0.3);

            .window-blur & {
                stroke: rgba(0, 0, 0, 0.1);
            }
        }

        &:not(:disabled):hover {
            background: rgba(0, 0, 0, 0.1);

            &:active {
                background: rgba(0, 0, 0, 0.2);
            }

            svg {
                stroke: #000000;
            }
        }
    }

    #window-close:hover {
        background: #e81123;

        &:active {
            background: #f1707a;
        }

        svg {
            stroke: #ffffff;
        }
    }
}
