.window-buttons {
    align-self: flex-start;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 32px;
        padding: 0;
        outline: none;
        border: none;
        background: transparent;
        transition: 0.05s background-color ease-in;
        -webkit-app-region: no-drag;

        &:hover {
            background: rgba(0, 0, 0, 0.1);

            &:active {
                background: rgba(0, 0, 0, 0.2);
            }
        }

        svg {
            width: 10px;
            height: 10px;

            line {
                stroke: #000000;
                transition: 0.05s stroke ease-in;
            }
        }
    }

    #window-close:hover {
        background: #e81123;

        &:active {
            background: #f1707a;
        }

        svg line {
            stroke: #ffffff;
        }
    }
}
