.app-navigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: flex;
        padding: 8px 20px;
        align-items: center;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);

        &.current {
            background: rgba(0, 0, 8, 0.07);
        }

        &:last-child {
            margin-top: auto;
        }

        .ion {
            width: 28px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 28px;
            text-align: center;
            margin-right: 12px;
            margin-top: 1px;
        }
    }
}
