.banner {
    display: flex;
    height: 240px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    background: #f7f7f8;
    
    .info {
        padding: 24px 20px 0;
        background: linear-gradient(to top, #141e30, #243b55);
        color: #fff;
        flex-grow: 1;

        .label {
            font-size: 12px;
            font-weight: bold;
        }

        .traffic {
            margin-top: 8px;
            font-size: 20px;
        }
    }

    .recharts-wrapper {
        font-size: 12px;
        background: linear-gradient(to top, #141e30, #243b55);
    }

    ul.recharts-default-legend {
        width: 100px;
        position: absolute;
        right: 0;

        li.recharts-legend-item {
            margin-right: 0 !important;
            display: flex !important;
            align-items: flex-end;
            flex-direction: row-reverse;

            .recharts-legend-item-text {
                margin: 0 4px;
                color: rgba(255, 255, 255, 0.4);
            }
        }
    }
}
