.sidebar {
    width: 220px;
    background: #ececee;
    border-right: 1px solid rgba(0, 0, 8, 0.1);
    padding: 48px 0 12px;
    display: flex;
    flex-direction: column;
    -webkit-app-region: drag;

    &.vibrancy {
        background: transparent;
    }
}
