.sidebar {
    width: 240px;
    background: #ececee;
    border-right: 1px solid #d1d0d3;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    -webkit-app-region: drag;

    > * {
        -webkit-app-region: no-drag;
    }
}
