* {
    box-sizing: border-box;
}

:root {
    color: #333;
}

body {
    margin: 0;
    font-size: 14px;
    user-select: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;
}

.content {
    flex-grow: 1;
    height: 100vh;
    overflow: hidden auto;
    background: #ffffff;
    padding: 0 36px;
    position: relative;
}
